<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DPad_Controller_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{921,861},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Directions.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{1199,960},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>billboard01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,170}</string>
                <key>spriteSourceSize</key>
                <string>{300,170}</string>
                <key>textureRect</key>
                <string>{{218,363},{300,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>billboard02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,220}</string>
                <key>spriteSourceSize</key>
                <string>{215,220}</string>
                <key>textureRect</key>
                <string>{{1225,571},{215,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>billboard03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,220}</string>
                <key>spriteSourceSize</key>
                <string>{230,220}</string>
                <key>textureRect</key>
                <string>{{797,639},{230,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>billboard04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,170}</string>
                <key>spriteSourceSize</key>
                <string>{268,170}</string>
                <key>textureRect</key>
                <string>{{1231,301},{268,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>billboard05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,190}</string>
                <key>spriteSourceSize</key>
                <string>{298,190}</string>
                <key>textureRect</key>
                <string>{{223,832},{298,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>billboard06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{284,190}</string>
                <key>spriteSourceSize</key>
                <string>{298,190}</string>
                <key>textureRect</key>
                <string>{{520,403},{284,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>billboard07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{284,190}</string>
                <key>spriteSourceSize</key>
                <string>{298,190}</string>
                <key>textureRect</key>
                <string>{{507,595},{284,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>billboard08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{377,263}</string>
                <key>spriteSourceSize</key>
                <string>{385,265}</string>
                <key>textureRect</key>
                <string>{{580,1},{377,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>billboard09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{324,282}</string>
                <key>spriteSourceSize</key>
                <string>{328,282}</string>
                <key>textureRect</key>
                <string>{{959,1},{324,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boulder1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,248}</string>
                <key>spriteSourceSize</key>
                <string>{168,248}</string>
                <key>textureRect</key>
                <string>{{1029,729},{168,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boulder2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,140}</string>
                <key>spriteSourceSize</key>
                <string>{298,140}</string>
                <key>textureRect</key>
                <string>{{1285,1},{298,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boulder3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,220}</string>
                <key>spriteSourceSize</key>
                <string>{320,220}</string>
                <key>textureRect</key>
                <string>{{1,543},{320,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bush1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,155}</string>
                <key>spriteSourceSize</key>
                <string>{240,155}</string>
                <key>textureRect</key>
                <string>{{1068,487},{240,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bush2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,152}</string>
                <key>spriteSourceSize</key>
                <string>{232,152}</string>
                <key>textureRect</key>
                <string>{{643,787},{232,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cactus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,118}</string>
                <key>spriteSourceSize</key>
                <string>{235,118}</string>
                <key>textureRect</key>
                <string>{{523,787},{235,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,56}</string>
                <key>spriteSourceSize</key>
                <string>{80,56}</string>
                <key>textureRect</key>
                <string>{{1281,793},{80,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,59}</string>
                <key>spriteSourceSize</key>
                <string>{80,59}</string>
                <key>textureRect</key>
                <string>{{1199,793},{80,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,55}</string>
                <key>spriteSourceSize</key>
                <string>{88,55}</string>
                <key>textureRect</key>
                <string>{{921,961},{88,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,57}</string>
                <key>spriteSourceSize</key>
                <string>{80,57}</string>
                <key>textureRect</key>
                <string>{{1199,854},{80,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>column.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,315}</string>
                <key>spriteSourceSize</key>
                <string>{200,315}</string>
                <key>textureRect</key>
                <string>{{914,285},{200,315}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dead_tree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,332}</string>
                <key>spriteSourceSize</key>
                <string>{135,332}</string>
                <key>textureRect</key>
                <string>{{580,266},{135,332}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dead_tree2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,260}</string>
                <key>spriteSourceSize</key>
                <string>{150,260}</string>
                <key>textureRect</key>
                <string>{{806,487},{150,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>palm_tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,540}</string>
                <key>spriteSourceSize</key>
                <string>{215,540}</string>
                <key>textureRect</key>
                <string>{{1,1},{215,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,41}</string>
                <key>spriteSourceSize</key>
                <string>{80,41}</string>
                <key>textureRect</key>
                <string>{{1281,898},{80,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,41}</string>
                <key>spriteSourceSize</key>
                <string>{80,41}</string>
                <key>textureRect</key>
                <string>{{1363,875},{80,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_straight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,41}</string>
                <key>spriteSourceSize</key>
                <string>{80,41}</string>
                <key>textureRect</key>
                <string>{{1281,941},{80,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_uphill_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,45}</string>
                <key>spriteSourceSize</key>
                <string>{80,45}</string>
                <key>textureRect</key>
                <string>{{1199,913},{80,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_uphill_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,45}</string>
                <key>spriteSourceSize</key>
                <string>{80,45}</string>
                <key>textureRect</key>
                <string>{{1281,851},{80,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_uphill_straight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,45}</string>
                <key>spriteSourceSize</key>
                <string>{80,45}</string>
                <key>textureRect</key>
                <string>{{1363,793},{80,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>semi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,144}</string>
                <key>spriteSourceSize</key>
                <string>{122,144}</string>
                <key>textureRect</key>
                <string>{{797,861},{122,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sliderProgress2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{131,11}</string>
                <key>spriteSourceSize</key>
                <string>{131,13}</string>
                <key>textureRect</key>
                <string>{{198,865},{131,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sliderThumb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{520,363},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sliderTrack2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,13}</string>
                <key>spriteSourceSize</key>
                <string>{131,13}</string>
                <key>textureRect</key>
                <string>{{1,1007},{131,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stump.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,140}</string>
                <key>spriteSourceSize</key>
                <string>{195,140}</string>
                <key>textureRect</key>
                <string>{{1,865},{195,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,360}</string>
                <key>spriteSourceSize</key>
                <string>{360,360}</string>
                <key>textureRect</key>
                <string>{{218,1},{360,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,295}</string>
                <key>spriteSourceSize</key>
                <string>{282,295}</string>
                <key>textureRect</key>
                <string>{{223,535},{282,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>truck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,78}</string>
                <key>spriteSourceSize</key>
                <string>{100,78}</string>
                <key>textureRect</key>
                <string>{{806,403},{100,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sprites.png</string>
            <key>size</key>
            <string>{1442,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55cf0180e8e8f8ad4274af1fa88e05c7:740d6f213283abb27e1e80babec67fc0:db71e206b3c010bfb176561963c50b15$</string>
            <key>textureFileName</key>
            <string>sprites.png</string>
        </dict>
    </dict>
</plist>
